

html, body{
	background-image: url("achterlijk.gif");
    background-position: right;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
	padding:0;
	margin:0;
	font-family: monospace;
}

.topnav {
  background-color: #333;
}


.topnav a {
  display:inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 21%;
  transition: all 0.75s ease;
  font-family: arial;
}


.topnav a:hover {
  background-color: #333;
  color: grey;
}


.topnav a.active {
  background-color: #333;
  color: white;
  font-family: fjalla one;
  font-weight: bolder;
  font-size: 19px;
}

.topnav a.active:hover {
  background-color: #333;
  color: grey;
}

 .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #e6e6e6;
        color: #a6a6a6;
        text-align: center;
        padding: 5px 5px;
}

 .img{
      height: 30px;
      width: 40px;
    }

 .table {
            color: black;
            text-align: center;
            margin-left: 50px;
            margin-right: 50px;
            padding-left: 50px;
            padding-right: 50px;
            margin-top: 50px;
            margin-bottom: 50px;
            font-family: times;
            text-shadow: 0.5px 0.5px;
        }
