body{
	background-color: #f3f3f3;
	padding:0;
	margin:0;
	font-family: monospace;
}

.topnav {
  background-color: #333;
}


.topnav a {
  display:inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 21%;
  transition: all 0.75s ease;
  font-family: arial;
}


.topnav a:hover {
  background-color: #333;
  color: grey;
}


.topnav a.active {
  background-color: #333;
  color: white;
  font-name: fjalla one;
  font-weight: bolder;
  font-size: 19px;
}

.topnav a.active:hover {
  background-color: #333;
  color: grey;
}
